.movies__container {
    margin: 10px;
    text-align: center;
    font-family: AvenirBook;
    background-color: #429BD5;
    border-radius: 10px;
}

.card__movie {
    margin: 10px;
    height: 10%;
    width: 15%;
}