.movie__title {
    text-align: center;
}

.container__movie-data {
    display: flex;
    font-family: AvenirBook;
}

.image__card-container {
    margin: 5px;
}

.movie__poster {
    height: 100%;
    width: 100%;
}

.data__card {
    margin: 5px;
    padding: 5px;
}

.data__card span {
    font-weight: bold;
}

.data__card ul li {
    list-style-type: none;

}